@(signupForm: Form[User], users: Iterable[User])

@import helper.twitterBootstrap._
@import models.User


@main("Welcome to Open Reviews") {
    <div class="row">
        <div class="col-xs-8">
        @for(u <- users.iterator()) {
            <li>@u.email - (<a href="/widget/@u.getOid()" target="widget_frame">widget</a>)</li>
        }
        </div>


        <div class="col-xs-4">
        <div>
        @helper.form(action = routes.SignUpController.submit()) {

            @helper.inputText(signupForm("itemName"))

            @helper.inputText(signupForm("email"))

            @helper.inputPassword(signupForm("password"))

            <button type="submit">Start using Open Review</button>
        }
        </div>
        <div>
        <br/><br/>Widget :<br/>
        	<iframe name="widget_frame" src="/widget/53236a2f44aee76c0c93b5d8" frameborder="0">
        	coucou
        	</iframe>
        </div>
        </div>
    </div>
}
