@(widgetData: WidgetData)

@import models.WidgetData

<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/widget.css")'>
</head>

<body>
	<div>
		<span class="">Avis consommateur</span> 
		<br /> 
		<div>
@if(widgetData.reviewsCount > 0) {
			<span class="">@widgetData.grade</span>
}
			<div class="stars stars_@widgetData.starsCount"> </div>
		</div>
		<span class="">@widgetData.reviewsCount avis </span>
		<br/>
		<a href="@widgetData.notationPageUrl" class="">@widgetData.notationPageLabel</a>
		<br/>
	</div>
</body>